Repository erayguner/topcards: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-headers, check-terraform-modules, check-secrets-patterns, validate-github-workflows, security-policy-check, audit-dependencies, scan-docker-files

Path conditions:
  check-license-headers: any of: \.(py|js|ts|tf)$
  check-terraform-modules: any of: \.tf$
  check-secrets-patterns: any of: \.(py|js|ts|tf|yml|yaml|json)$
  validate-github-workflows: any of: \.github/workflows/.*\.ya?ml$
  security-policy-check: any of: ^(SECURITY\.md|\.github/SECURITY\.md)$
  audit-dependencies: any of: ^(package\.json|requirements\.txt|Pipfile|pyproject\.toml)$
  scan-docker-files: any of: ^(Dockerfile.*|docker-compose\.ya?ml)$

feat: add Python example for CodeQL analysis
  example_app.py
Due: check-license-headers, check-secrets-patterns

feat: enable Python scanning in CodeQL workflow
  .github/workflows/codeql.yml
Due: check-secrets-patterns, validate-github-workflows

🔒 feat: Comprehensive GitHub Actions security upgrade to 2025 standards (#27)
  .github/SECURITY_IMPROVEMENTS_2025.md
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/security-scan.yml
  .github/workflows/slsa-provenance.yml
  example_app.py
Due: check-license-headers, check-secrets-patterns, validate-github-workflows

Add security-policy.yml GitHub Actions workflow
  .github/workflows/security-policy.yml
Due: check-secrets-patterns, validate-github-workflows

Fix critical security vulnerabilities in GitHub workflows
  .github/workflows/performance-monitoring.yml
  .github/workflows/security-scan.yml
Due: check-secrets-patterns, validate-github-workflows

Fix OSSF Scorecard action invalid input parameter
  .github/workflows/dependency-review.yml
Due: check-secrets-patterns, validate-github-workflows
