Repository erayguner/topcards: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-headers, check-terraform-modules, check-secrets-patterns, validate-github-workflows, security-policy-check, audit-dependencies, scan-docker-files

check-license-headers:
  name: Check License Headers
  entry: scripts/check-license-headers.sh
  language: script
  pass_filenames: true

check-terraform-modules:
  name: Check Terraform Modules
  entry: scripts/check-terraform-modules.sh
  language: script
  pass_filenames: true

check-secrets-patterns:
  name: Check for Secret Patterns
  entry: scripts/check-secrets-patterns.sh
  language: script
  pass_filenames: true

validate-github-workflows:
  name: Validate GitHub Workflows
  entry: scripts/validate-github-workflows.sh
  language: script
  pass_filenames: true

security-policy-check:
  name: Security Policy Check
  entry: scripts/security-policy-check.sh
  language: script
  pass_filenames: true

audit-dependencies:
  name: Audit Dependencies
  entry: scripts/audit-dependencies.sh
  language: script
  pass_filenames: true

scan-docker-files:
  name: Scan Docker Files
  entry: scripts/scan-docker-files.sh
  language: script
  pass_filenames: true

Allow dynamic security scan level input for workflow_dispatch events
  .github/workflows/security-coordinator.yml
Due: check-secrets-patterns, validate-github-workflows

fix: default scan level when no workflow input
  .github/workflows/security-coordinator.yml
Due: check-secrets-patterns, validate-github-workflows

fix: repair security scan configurations
  .bandit
  .github/workflows/security-scan.yml
  .gitleaks.toml
Due: check-secrets-patterns, validate-github-workflows

fix: tame gitleaks false positives
  .github/SECURITY.md
  .github/workflows/security-scan.yml
  .gitleaks.toml
Due: check-secrets-patterns, validate-github-workflows, security-policy-check

fix: allow historic gitleaks false positives
  .gitleaks.toml
Due: none

fix: restore semgrep config validity
  .semgrep.yml
Due: check-secrets-patterns

chore: simplify security workflow baseline
  .github/SECURITY.md
  .github/workflows/security-scan.yml
Due: check-secrets-patterns, validate-github-workflows, security-policy-check

feat: integrate MegaLinter security workflow
  .github/SECURITY.md
  .github/workflows/security-scan.yml
  .mega-linter.yml
Due: check-secrets-patterns, validate-github-workflows, security-policy-check

fix: complete security hardening with CodeQL and workflow fixes
  .github/workflows/codeql.yml
  .github/workflows/secret-scanning.yml
  .github/workflows/security-scan.yml
  .github/workflows/terraform.yml
  scripts/validate-github-workflows.sh
Due: check-secrets-patterns, validate-github-workflows

fix: resolve CodeQL and MegaLinter security scan failures
  .github/workflows/codeql.yml
  .mega-linter.yml
  .tflint.hcl
Due: check-secrets-patterns, validate-github-workflows

fix: disable problematic shell script linting in MegaLinter
  .mega-linter.yml
Due: check-secrets-patterns

fix: resolve GitHub Advanced Security Scorecard issues
  .github/workflows/codeql.yml
  .github/workflows/secret-scanning.yml
  .github/workflows/security-policy.yml
  .github/workflows/security-scan.yml
  .github/workflows/terraform.yml
Due: check-secrets-patterns, validate-github-workflows

feat: simplify CI/CD to MegaLinter only
  .github/configs/security-tools.yml
  .github/renovate.json
  .github/workflows/claude.yml
  .github/workflows/code-quality.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-updates.yml
  .github/workflows/secret-scanning.yml
  .github/workflows/security-coordinator.yml
  .github/workflows/security-incident-response.yml
  .github/workflows/security-monitoring.yml
  .github/workflows/security-policy.yml
  .github/workflows/security-scan.yml
  .github/workflows/terraform-security.yml
  .github/workflows/terraform.yml
  .pre-commit-config.yaml
  .semgrep.yml
Due: check-secrets-patterns, validate-github-workflows

fix: resolve CodeQL security vulnerabilities and enhance security posture
  .codeqlconfig.yml
  .eslintrc.security.js
  .github/workflows/codeql.yml
  package.json
Due: check-license-headers, check-secrets-patterns, validate-github-workflows, audit-dependencies

fix: resolve CodeQL configuration errors
  .codeqlconfig.yml
  .github/workflows/codeql.yml
Due: check-secrets-patterns, validate-github-workflows

fix: update README workflow badges to reflect current CI/CD setup
  README.md
Due: none

fix: update README workflow badges to reflect current CI/CD setup (#20)
  README.md
Due: none

feat: modernize GitHub Actions with 2024-2025 best practices
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/security-scan.yml
  .mega-linter.yml
  AGENTS.md
Due: check-secrets-patterns, validate-github-workflows

feat: modernize GitHub Actions with 2024-2025 best practices (#21)
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/security-scan.yml
  .mega-linter.yml
  AGENTS.md
Due: check-secrets-patterns, validate-github-workflows

fix: update actions/cache to v4.1.2 to resolve deprecation warning
  .github/workflows/security-scan.yml
Due: check-secrets-patterns, validate-github-workflows

fix: update actions/cache to v4.1.2 to resolve deprecation warning (#22)
  .github/workflows/security-scan.yml
Due: check-secrets-patterns, validate-github-workflows

refactor: use version tags (v3/v4) instead of SHA hashes in GitHub Actions
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/security-scan.yml
Due: check-secrets-patterns, validate-github-workflows

refactor: use version tags (v3/v4) instead of SHA hashes in GitHub Actions (#23)
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/security-scan.yml
Due: check-secrets-patterns, validate-github-workflows

refactor(terraform): centralize project service enablement
  terraform/README.md
  terraform/apis.tf
  terraform/bigquery.tf
  terraform/compute.tf
  terraform/networking.tf
  terraform/outputs.tf
  terraform/security.tf
  terraform/storage.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: check-license-headers, check-terraform-modules, check-secrets-patterns

feat: update GitHub Actions to latest versions (2025)
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/security-scan.yml
Due: check-secrets-patterns, validate-github-workflows

🚀 Update GitHub Actions to Latest Versions (2025) (#24)
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/security-scan.yml
  terraform/README.md
  terraform/apis.tf
  terraform/bigquery.tf
  terraform/compute.tf
  terraform/networking.tf
  terraform/outputs.tf
  terraform/security.tf
  terraform/storage.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: check-license-headers, check-terraform-modules, check-secrets-patterns, validate-github-workflows

chore(workflow): skip scorecard pinned dependency check
  .github/workflows/dependency-review.yml
Due: check-secrets-patterns, validate-github-workflows

fix(deps): resolve dependency issues in PR checks
  .github/workflows/dependency-review.yml
  package.json
Due: check-secrets-patterns, validate-github-workflows, audit-dependencies

fix(deps): resolve ESLint dependencies and optimize npm scripts
  .eslintrc.js
  .eslintrc.security.js
  .gitignore
  package-lock.json
  package.json
Due: check-license-headers, check-secrets-patterns, audit-dependencies

🧠 Hive Mind: Fix ESLint dependencies and optimize development workflow (#26)
  .eslintrc.js
  .eslintrc.security.js
  .github/workflows/dependency-review.yml
  .gitignore
  package-lock.json
  package.json
Due: check-license-headers, check-secrets-patterns, validate-github-workflows, audit-dependencies

🔒 feat: Comprehensive GitHub Actions security upgrade to 2025 standards
  .github/SECURITY_IMPROVEMENTS_2025.md
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/secret-scanning.yml
  .github/workflows/security-scan.yml
  .github/workflows/slsa-provenance.yml
Due: check-secrets-patterns, validate-github-workflows

fix: correct action versions and workflow syntax errors
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/secret-scanning.yml
  .github/workflows/security-scan.yml
  .github/workflows/slsa-provenance.yml
Due: check-secrets-patterns, validate-github-workflows

docs: update security improvements document with correct versions
  .github/SECURITY_IMPROVEMENTS_2025.md
Due: none

chore: update actions/checkout to v5.0.0
  .github/SECURITY_IMPROVEMENTS_2025.md
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/secret-scanning.yml
  .github/workflows/security-scan.yml
  .github/workflows/slsa-provenance.yml
Due: check-secrets-patterns, validate-github-workflows

fix: resolve workflow validation errors
  .github/SECURITY_IMPROVEMENTS_2025.md
  .github/workflows/dependency-review.yml
  .github/workflows/security-scan.yml
Due: check-secrets-patterns, validate-github-workflows

fix: resolve network connectivity issues in workflows
  .github/SECURITY_IMPROVEMENTS_2025.md
  .github/workflows/dependency-review.yml
  .github/workflows/secret-scanning.yml
Due: check-secrets-patterns, validate-github-workflows

refactor: remove problematic secret-scanning workflow
  .github/SECURITY_IMPROVEMENTS_2025.md
  .github/workflows/secret-scanning.yml
Due: check-secrets-patterns, validate-github-workflows

fix: remove license restrictions blocking MegaLinter
  .github/workflows/dependency-review.yml
Due: check-secrets-patterns, validate-github-workflows

docs: update dependency review documentation
  .github/SECURITY_IMPROVEMENTS_2025.md
Due: none

fix: add Anchore endpoints and make SBOM generation non-blocking
  .github/workflows/dependency-review.yml
Due: check-secrets-patterns, validate-github-workflows

Path conditions:
  check-license-headers: any of: \.(py|js|ts|tf)$
  check-terraform-modules: any of: \.tf$
  check-secrets-patterns: any of: \.(py|js|ts|tf|yml|yaml|json)$
  validate-github-workflows: any of: \.github/workflows/.*\.ya?ml$
  security-policy-check: any of: ^(SECURITY\.md|\.github/SECURITY\.md)$
  audit-dependencies: any of: ^(package\.json|requirements\.txt|Pipfile|pyproject\.toml)$
  scan-docker-files: any of: ^(Dockerfile.*|docker-compose\.ya?ml)$
